.comments-container {
  padding: 10px;
}

.comment-container {
  padding: 2px;
  margin-bottom: 10px;
  background-color: #f4f4f497;
}

/* Comment Text Styles */
.comment-text {
  margin-top: 5px;
}

/* Comment Metadata Styles */
.comment-name {
  font-weight: bold;
}

.comment-timestamp {
  color: #888;
  font-size: 0.8em;
}
