.clothing-all {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.clothing-image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.clothing-image img {
  width: 500px;
  height: auto;
}

.clothing-elements {
  width: 100%;
  position: absolute;
  z-index: 9999;
}
